<mat-card>
    <mat-card-header>
        User Registration
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
            <!-- User name -->
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <!-- User password -->
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>

            <!-- User email -->
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <!-- User Gender -->
            <div>
                <mat-radio-group aria-label="Gender" formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- button -->
            <button mat-raised-button color="primary">Submit</button>
            <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
        </form>

    </mat-card-content>
</mat-card>